extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 Enter your ChatRoom Name
  input(type='text' name='chatroom')
  h2 Enter your Alias
  input(type='text' name='alias')
  input(type='submit' value='GO')