<html>

<head>
    <title>psyke test</title>
    <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
        crossorigin="anonymous"></script>
</head>

<body>
<div id="container"></div>
<script src="/scripts/peer.js"></script>
<!--  PeerJS API Key: vs6hpivac4sra4i  -->

<form>
    <input id="peer-id" required type="text" placeholder="Peer ID">
    <button id="peer-connect" type="submit">Connect</button>
</form>

<script src="/scripts/testscript.js">
</script>
</body>

</html>