* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #363636;
    color: #aaa;
}

html,
body {
    height: 100vh !important;
    margin: 0;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    flex: 1 1 auto;
}

#voice {
    flex: 0 1 20%;
}

#chatbox {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    height: 100%;
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*align-items: stretch;*/
}

html {
    width: 100%;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    font: 13px Helvetica, Arial;
}

#info {
    width: 100%;
    height: 100%;
}

#messages {
    flex: 1 1 auto;
    border: 3px solid #999;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    background-color: #222;
}

#messages li {
    padding: 5px 10px;
    color: #DDD;
    background: #222;
}

#messages li:nth-child(odd) {
    background: #333;
}

.whisper {
    background: rgba(140, 6, 157, 0.49) !important;
}

.error {
    background: rgba(157, 6, 6, 0.49) !important;
}

#message-box {
    flex: 0 1 auto;
    background: #000;
    padding: 3px;
    width: 100%;
}

#message-box input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

#message-box button {
    width: 9%;
    color: black;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#room-name {
    text-align: center;
}

#current-users li {
    margin-left: 10px;
    margin-right: 10px;
}

#current-users h3 {
    text-align: center;
}

.user,
.user>div.stream-controls{
    text-align: center;
    background-color: #777777;
    color: black;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

button{
    border-style: solid;
    border-width: .5px;
    border-radius: 5px;
    margin-left: 20px;
    border-radius: 5px;
    padding: 5px;
}

button:not(.muted) {
    border: .5px solid #333333;
    background-color: #777777;
    color: black;
}

button.muted {
    border: .5px solid #0076a5;
    background-color: #00B7FF;
    color: #222222;
}

i {
    background-color: inherit;
    color: inherit;
}