body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mono{
  font-family: monospace !important;
}

.hidden{
  visibility: hidden;
  display: none;
}